@import 'bourbon';										// bourbon.io/

@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/selection";

@import 'partials/variables';							// colors, fonts etc...
@import 'partials/mixins';								// custom mixins
@import 'partials/layout';								// responsive grid and media queries
@import 'partials/navigation';							// navigation + header


/* --------------------------------
extends
-------------------------------- */
%navigation-sub {
	position: fixed;
	left: 0;
	width: 100%;
	
	height: $filter-S;
	padding-left: $padding-S;
	padding-right: $padding-S;
	top: $header-S;
	@include MQ(M) {
		height: $filter-M;
		padding-left: $padding-M;
		padding-right: $padding-M;
		top: $header-M;
	}
	@include MQ(L) {
		height: $filter-L;
		padding-left: $padding-L;
		padding-right: $padding-L;
		top: $header-L;
	}
	
	
	z-index: 9999;
	background-color: $color-filters;
	button {
		background: transparent;
		border: none;
		text-transform: uppercase;
		color: $main-text;
		font-size: em(17);
		
		line-height: $filter-S - 1;
		@include MQ(M) {
			line-height: $filter-M - 1;
		}
		@include MQ(L) {
			line-height: $filter-L - 1;
		}
		
		&:focus {
			outline:0;
		}
		&.active {
			color: $link;
		}
	}
}
%paddings-no-sub {
	// change the padding compared to the header
	padding: $padding-S;
	padding-top: $header-S + $padding-S;
	@include MQ(M) {
		padding: $padding-M;
		padding-top: $header-M + $padding-M;
	}
	@include MQ(L) {
		padding: $padding-L;
		padding-top: $header-L + $padding-L;
	}
}
%paddings-with-sub {
	// change paddings content div
	padding: ($header-S + $filter-S + $padding-S) $padding-S $padding-S $padding-S;
	@include MQ(M) {
		padding: ($header-M + $filter-M + $padding-M) $padding-M $padding-M $padding-M;
	}
	@include MQ(L) {
		padding: ($header-L + $filter-L + $padding-L) $padding-L $padding-L $padding-L;
	}
	// end change paddings content div
}

/* --------------------------------
home
-------------------------------- */
#home {
	.panel {
		position:absolute;
		height:100%;
		width: 50%;
		//
		@extend %paddings-no-sub;
		//
		&.left {
			left:0px;
			padding-right: 0px;
		}
		&.right {
			right:0px;
			padding-left: 0px;
			div.button {
				left:0px;
				right: 20px;
			}
		}
		div.button {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 20px;
			right:0;
			margin: auto;
			text-align: center;
			text-transform: uppercase;
			@include selection($color-home-button-txt, $color-home-button);
			background-color: $color-home-button;
			z-index: 999;
			
			top: $header-S;
			line-height: 150px;
			width: 150px;
			height: 150px;
			@include border-radius(75px);
			@include MQ(M) {
				top: $header-M;
				line-height: 200px;
				width: 200px;
				height: 200px;
				@include border-radius(100px);
			}
			@include MQ(L) {
				top: $header-L;
				line-height: 200px;
				width: 200px;
				height: 200px;
				@include border-radius(100px);
			}
		}
		div.slideshow {
			height:100%;
			@include userSelect();
			div {
				@include userSelect();
				height: 25%;
				div.slide {
					width: 100%;
					height: 100%;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
	}
}

/* --------------------------------
detail - photography
-------------------------------- */
#detail-photography {
	.cd-main-content {
		@extend %paddings-with-sub;
	}
	div.cookietrail {
		@extend %navigation-sub;
	}
	.gallery {
		top:0px;
		width: 100%;
		height: 640px;
		.gallery-cell {
			width: 100%; /* full width */
			background-color: red;
			padding: 40px;
			padding-top: ($filter-S + 40px);
			@include MQ(M) {
				padding-top: $filter-M + 40px;
			}
			img {
				display: block;
				margin: 0 auto;
				height: 560px;
				min-height: 560px;
				max-height: 560px;
			}

		}
	}
}

/* --------------------------------
portfolio - photography
-------------------------------- */
#portfolio-photography {
	.cd-main-content {
		@extend %paddings-with-sub;
	}
	div.filters {
		@extend %navigation-sub;
	}
	div.items {
		top:0px;
		width: 100%;
		
		div.item {
			@include opacity(0);
			@include transition(opacity 0.2s ease-in);
			&.loaded {
				@include opacity(1);
			}
			div {
				width: 100%;
				height: 100%;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: auto;
				background-image: url('../img/ajax-loader.gif');
				img {
					border: 0px solid $background;
				}
			}
		}
	}
}



